@import '../../styles/abstracts/variables';

.searchPage {
  position: relative;
  padding: 0 2rem;
  height: calc(100vh - 10.5rem);
}

.resultsSection {
  overflow: scroll;
  text-align: center;
  padding-bottom: 27rem;
  position: fixed;
  top: 85px;
  bottom: 0;
  right: 2rem;
  left: 2rem;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.collectionSection {
  display: grid;
  grid-template-rows: 10% 1fr;
  position: fixed;
  bottom: 7rem;
  left: 2rem;
  right: 2rem;
  background-color: $dark-bg;
}
