@import '../../styles/abstracts/variables';

.searchPage {
  height: calc(100vh - 7rem);
  display: grid;
  grid-template-rows: auto auto 3fr 1fr;
  row-gap: 1rem;
}

.resultsSection {
  overflow: scroll;
}
