@import '../../styles/abstracts/variables';

.searchPage {
  height: calc(100vh - 9.5rem);
  display: grid;
  grid-template-rows: auto 1fr 200px;
  row-gap: 1rem;
  position: relative;
}

.resultsSection {
  overflow: scroll;
  text-align: center;
}

.collectionSection {
  display: grid;
  grid-template-rows: 10% 1fr;
}
