// Pallette Colors: https://coolors.co/002626-0e4749-95c623-e55812-efe7da
$dark-bg: #002626;
$light-bg: #0e4749;
$primary-color: #95c623;
$primary-color-disabled: #95c6238f;
$secondary-color: #e55812;
$complementary-color: #efe7da;
$complementary-color-text: #112a46;
$white: #fff;

// Other variables
$speed: 500ms;
