@import '../../styles/abstracts/variables';

.addButton {
  color: $primary-color;
  cursor: pointer;
  background-color: transparent;

  &:disabled {
    color: $primary-color-disabled;
    cursor: default;
  }

  &:hover {
    color: $primary-color-hover;
  }
}

.modalAddButton {
  background-color: $secondary-color;
  padding: 1.5rem 2.5rem;
  color: white;
}
