@import '../../styles/abstracts/variables';

.addButton {
  color: $primary-color;
  cursor: pointer;
  background-color: transparent;

  &:disabled {
    color: $primary-color-disabled;
    cursor: default;
  }

  &:hover {
    color: $primary-color-hover;
  }
}

.modalAddButton {
  background-color: $secondary-color;
  border: solid 1px $secondary-color;
  padding: calc(1.5rem - 1px) calc(2.5rem - 1px);
  color: white;

  &:hover {
    background-color: transparent;
    border: solid 1px $secondary-color;
    color: $secondary-color;
  }
}
