@import '../../styles/abstracts/variables';

.colorA {
  color: $complementary-color;

  &:hover {
    color: $complementary-color-hover
  }
}

.colorB {
  color: $primary-color;

  &:hover {
    color: $primary-color-hover
  }
}
