@import '../../styles/abstracts/variables';

.pageHeader {
  height: 3.5rem;
  z-index: 2;
  background-color: $dark-bg;
}

.pageHeader button {
  position: fixed;
  left: 1.5rem;
  background-color: transparent;
  color: $primary-color;
}
