@import './../styles/abstracts/variables';

.nav {
  height: 7rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $primary-color;
}

.link {
  width: 100%;
}

.linkIcon {
  color: $primary-color;
  font-size: 4rem;
}
