.resultItem {
  display: grid;
  height: 4rem;
  margin-bottom: 1rem;
  grid-template-columns: auto 5fr 1fr 1fr;
  width: 100%;
}

.thumb {
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.resultData {
  display: grid;
  height: 4rem;
  grid-template-rows: 60% 40%;
  row-gap: 0.4rem;
}

.resultTitle,
.resultType {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultType {
  font-size: 1rem;
}
