@import '../../styles/abstracts/variables';

.searchBar {
  display: flex;
  border-radius: 20px;
  background-color: $white;
  align-items: center;
  position: relative;
  height: 4rem;
}

.searchInput {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 5rem;
  border-radius: 20px;
}

.searchIcon {
  background-color: transparent;
  color: black;
  position: absolute;
  left: 2rem;
}

.searchType {
  position: absolute;
  right: 2rem;
  height: 100%;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}
