.title,
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}
